header {
    background-color: #fff;
    position: relative;
    z-index: 5;
    transition: all .5s ease-in-out;
}
.tm-table {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}

header#masthead .width-logo {
    width: 270px;
    background-color: #72305f;
}

header#masthead .mobile-logo, header#masthead .retina-logo {
    display: none;
}

.top-toolbar {
    border-bottom: 1px solid #f0f0f0;
    padding-left: 30px;
    color: var(--body-font-color-1);
    font-size: 13px;
}

.top-toolbar i {
    font-size: 16px;
    margin-right: 5px;
}

.toolbar-info a {
    color: var(--primary-color-1);
}

.toolbar-info a:hover{
    color: var(--primary-hover-color-1);
}
.toolbar-info {
    line-height: 41px;
}
.weather img {
    height: 30px;
}

.toolbar-right >div,
.toolbar-right >ul{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #f0f0f0;
}

.language .dropdown-language {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    min-width: 120px;
    position: absolute;
    top: auto;
    left: -20px;
    z-index: 2;
    display: none;
    background: #f5f5f5;
}

.language .dropdown-language li {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    border-top: 1px solid #EEE;
}
.language a {
    line-height: 11px;
}
.toolbar-right {
    text-align: right;
}
.language .active .fa-caret-down:before {
    content: "\f0d8";
}
.language .dropdown-toggle:after {
    display: none;
}
.language .dropdown-toggle span {
    margin-left: 5px;
}
.language {
    text-align: left;
    color: var(--body-font-color-1);
    padding: 0 25px;
    line-height: 42px;
}

.top-toolbar a {
    color: var(--body-font-color-1);
}

.language i[class^=flag] {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 11px;
    line-height: 11px;
    background-image: url(../images/icons/language-flags.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.language i.flag-de {
    background-position: -160px -166px;
}
.language i.flag-el {
    background-position: -176px -22px;
}
.language i.flag-es {
    background-position: -176px -143px;
}
.language i.flag-fr {
    background-position: -176px -44px;
}
.language i.flag-it {
    background-position: -96px -144px;
}
.top-toolbar ul.top-menu>li>a {
    padding: 9px 25px;
    line-height: 24px;
    text-transform: capitalize;
    display: inline-block;
}
.top-toolbar ul.top-menu>li {
    border-left: 1px solid #f0f0f0;
}
.top-toolbar ul.top-menu>li:first-child {
    border-left: none;
}
.weather {
    padding: 0 23px;
    border-left: none !important;
}

.header-right {
    padding: 18px 0;
    float: right;
    padding-right: 30px;
}

a.btn-book {
    font-size: 14px;
    padding: 13px 30px 14px;
    line-height: 1;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #080808;
    border: 1px solid;
}
a.btn-book:hover {
    color: #fff;
    background: #fff;
}

#masthead.affix .sm-logo .no-sticky-logo, #masthead.affix-top .sm-logo .sticky-logo {
    display: none;
}
header#masthead.affix .top-toolbar {
    display: none;
}
.header_v2 .header-right {
    padding-right: 0;
}
.header_v2 {
    color: var(--title-color-2);
}
header.bg_white {
    background: #ffffff;
}
header.bg_white .menu-mobile-effect.navbar-toggle .icon-wrap span.icon-bar {
    background: var(--primary-color-2);
}
header#masthead.header_v2 .width-logo {
    background: none;
    width:265px;
}
/*==================================================================*/
.navigation ul.main-menu >li.menu-item {
    margin-right: 40px;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.navigation .main-menu >li {
    display: inline-block;
    position: relative;
}

.navigation .main-menu li a {
    white-space: nowrap;
}

.navigation .main-menu >li >a {
    display: inline-block;
    line-height: 42px;
}

header .sub-menu {
    min-width: 234px;
    position: absolute;
    top: auto;
    right: 0;
    display: none;
    z-index: 999;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.09);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.09);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,.09);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,.09);
}

header .sub-menu li {
    padding: 0 20px;
    display: block;
    margin: 0;
}
header .sub-menu li a {
    display: block;
    padding: 12px 0;
    font-size: 15px;
    border-bottom: 1px solid #e6e6e6 !important;
    font-weight: 700;
}

header .sub-menu li a:hover {
    color: var(--primary-color-1);
}

.demo-4 header .sub-menu li a:hover {
    /*color: #014423;*/
}

.demo-2 header .sub-menu li a:hover,
.demo-3 header .sub-menu li a:hover {
    color: var(--primary-color-2);
}

header .sub-menu li:last-child a {
    border-bottom: none;
}

header ul.main-menu li >.sub-menu {
    left: 0;
    top: 100%;
    background-color: #f5f5f5;
}

.navigation .main-menu >li >a,
.navigation .main-menu >li >span:not(.icon-toggle){
    font-size: 15px;
    color: #333;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .7px;
    display: inline-block;
}

.navigation .main-menu >li >a:hover {
    color: var(--primary-color-1);
}


/* .navigation ul.main-menu { */
    /* padding-left: 115px; */
    /* float: left; */
    /* padding-right: 30px; */
    /* margin-top: 15px; */
/* } */
.navigation ul.main-menu {
	/* padding-left: 115px; */
	float: right;
	padding-right: 30px;
	/* margin-top: 15px; */
}
.navigation ul.main-menu >.menu-item:before {
     content: "";
     background: #e3e3e3;
     height: 15px;
     width: 1px;
     position: absolute;
     left: 0;
     top: 50%;
     -webkit-transform: translate(0,-50%);
     -moz-transform: translate(0,-50%);
     -ms-transform: translate(0,-50%);
     -o-transform: translate(0,-50%);
 }

.navigation ul.main-menu >.menu-item:first-child:before {
    display: none;
}

@media (min-width: 769px) {
    header#masthead.header-overlay.affix-top {
       /* padding-top: 40px;*/
    }
    .navigation .main-menu >li .sub-menu li {
        width: 100%;
        text-align: left;
        position: relative;
    }
    .navigation .main-menu >li .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    .sub-menu li .icon-toggle {
        position: absolute;
        right: 20px;
        top: 50%;
        font-size: 13px;
        font-weight: 700;
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
    }

    .icon-toggle i {
        -webkit-transition: all .5s;
        -khtml-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .sub-menu li.has-children:hover .icon-toggle i:before {
        content: "\f0da";
    }

    .navigation >.main-menu >li >span.icon-toggle {
        color: var(--body-font-color-1);
        font-size: 14px;
        position: relative;
        line-height: 37px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin-left: 10px;
    }
    .icon-toggle  {
        opacity: .6;
        color: #000;
    }
    .demo-2 .navigation >.main-menu >li >span.icon-toggle {
        color: var(--title-color-2);
    }

    .navigation >ul.main-menu >.menu-item:before {
        display: none;
    }

    .navigation >.main-menu >li {
        padding: 18px 0;
    }

}

.navigation ul.main-menu >.menu-item:last-child.has-children {
    margin-right: 0;
}

/*Sticky*/
header.affix {
    z-index: 999999;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    transition: all .3s;
    background: #fff;
    box-shadow: 0 10px 25px 0 rgba(24,23,24,.2);
}

header.affix.menu-hidden {
    /*transform: translate(0, -100%);*/
}

.affix-top.menu-show {
    transition: none;
}

.menu-mobile-effect.navbar-toggle {
    display: none;
    align-items: center;
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
}

.menu-mobile-effect.navbar-toggle i {
    color: #111111;
}

.menu-mobile-effect.navbar-toggle .icon-wrap {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 13px;
    padding: 0;
    position: relative;
    margin-left: 15px;
    opacity: .8;
}

.menu-mobile-effect.navbar-toggle .icon-wrap span.icon-bar {
    background: #ffffff;
    width: 22px;
    height: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    left: 0;
    margin: 0 auto;
    top: 0;
    transition: all .3s ease-in-out;
}

.menu-mobile-effect.navbar-toggle .icon-wrap span.icon-bar:nth-child(2) {
    top: 6px;
}
.menu-mobile-effect.navbar-toggle .icon-wrap span.icon-bar:nth-child(3) {
    top: 12px;
}

.mobile-menu-container {
    position: fixed;
    visibility: visible;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    width: 300px;
    overflow: auto;
    background: #fff;
    -webkit-transition: all .5s;
    -khtml-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.mobile-menu-container .inner-off-canvas .main-menu {
    display: block;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}
.mobile-menu-container ul {
    margin: 0;
}
.overlay-close-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.mobile-menu-open .overlay-close-menu {
    opacity: .5;
    visibility: visible;
}
.mobile-menu-container ul li {
    float: none;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
}
.mobile-menu-container .inner-off-canvas .main-menu li .sub-menu a {
    padding-left: 40px;
    color: #8a8a8a;
    font-size: 16px;
}

.mobile-menu-container .main-menu li .sub-menu .sub-menu .icon-toggle {
    font-size: 15px;
}

.mobile-menu-container .inner-off-canvas .main-menu li.has-children li.has-children .sub-menu  a {
    padding-left: 50px;
}

.mobile-menu-container .inner-off-canvas .main-menu li a,
.mobile-menu-container .inner-off-canvas .main-menu li span:not(.icon-toggle){
    display: block;
    padding: 20px 20px 20px 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    border-top: 1px solid #e7e7e7;
}
.mobile-menu-container .inner-off-canvas ul li > a,
.mobile-menu-container .inner-off-canvas ul li > span:not(.icon-toggle) {
    color: var(--title-color-1);
}

.mobile-menu-container ul li a {
    line-height: 30px;
    display: block;
    outline: 0;
    -webkit-transition: background .3s,box-shadow .3s;
    transition: background .3s,box-shadow .3s;
}

.mobile-menu-container ul li .icon-toggle {
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px;
    top: 20px;
    line-height: 40px;
    text-align: center;
    color: #888;
    cursor: pointer;
}

.mobile-menu-container .main-menu > li >.sub-menu ,
.mobile-menu-container .main-menu > li .sub-menu .sub-menu  {
    display: none;
}

.mobile-menu-container .inner-off-canvas .main-menu li a:hover {
    color: var(--primary-color-1);
}

.mobile-menu-container {
    -webkit-transform: translate(-300px);
    -moz-transform: translate(-300px);
    -ms-transform: translate(-300px);
    -o-transform: translate(-300px);
}

.mobile-menu-open .mobile-effect.mobile-menu-container {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
}
@media (max-width: 992px) {
	header#masthead .width-logo {
        text-align: right;
    }
    .mobile-menu-container.mobile-effect {
        padding-bottom: 100px;
    }
    #thim-header-topbar,
    .header-sidebar {
        display: none !important;
    }

    .mobile-menu-container .inner-off-canvas .menu-mobile-effect.navbar-toggle .fa  {
        transition: all .2s ease-in-out 0s;
    }
    header .navigation {
        display: none;
    }
    body.mobile-menu-open nav .menu-mobile-effect.navbar-toggle {
        display: block;
    }
    .menu-mobile-effect.navbar-toggle {
        display: inline-block;
        text-align: right;
    }
    header .site-logo {
        padding: 0;
        width: -webkit-calc(100% - 81px);
        width: -moz-calc(100% - 81px);
        width: calc(100% - 81px);
        text-align: center;
        max-width: calc(100% - 81px);
        flex: 0 0 calc(100% - 81px);
    }

    .mobile-menu-container .inner-off-canvas .menu-mobile-effect.navbar-toggle:hover .fa {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        color: var(--primary-color-1);
    }

    header#masthead .width-logo {
        width: 100%;
    }
    header#masthead .logo {
        display: none;
    }
	header#masthead .mobile-logo {
		display: inline-block;
		width: 200px;
	}
}
/*Mobile menu*/
@media (max-width: 768px) {
    /* header#masthead .width-logo { */
        /* text-align: center; */
    /* } */
    /* .mobile-menu-container.mobile-effect { */
        /* padding-bottom: 100px; */
    /* } */
    /* #thim-header-topbar, */
    /* .header-sidebar { */
        /* display: none !important; */
    /* } */

    /* .mobile-menu-container .inner-off-canvas .menu-mobile-effect.navbar-toggle .fa  { */
        /* transition: all .2s ease-in-out 0s; */
    /* } */
    /* header .navigation { */
        /* display: none; */
    /* } */
    /* body.mobile-menu-open nav .menu-mobile-effect.navbar-toggle { */
        /* display: block; */
    /* } */
    /* .menu-mobile-effect.navbar-toggle { */
        /* display: inline-block; */
        /* text-align: right; */
    /* } */
    /* header .site-logo { */
        /* padding: 0; */
        /* width: -webkit-calc(100% - 81px); */
        /* width: -moz-calc(100% - 81px); */
        /* width: calc(100% - 81px); */
        /* text-align: center; */
        /* max-width: calc(100% - 81px); */
        /* flex: 0 0 calc(100% - 81px); */
    /* } */

    /* .mobile-menu-container .inner-off-canvas .menu-mobile-effect.navbar-toggle:hover .fa { */
        /* -webkit-transform: rotate(360deg); */
        /* -moz-transform: rotate(360deg); */
        /* -ms-transform: rotate(360deg); */
        /* -o-transform: rotate(360deg); */
        /* color: var(--primary-color-1); */
    /* } */

    /* header#masthead .width-logo { */
        /* width: 100%; */
    /* } */
    /* header#masthead .logo { */
        /* display: none; */
    /* } */
    /* header#masthead .mobile-logo { */
        /* display: inline-block; */
        /* width: 150px; */
    /* } */
}

/* Header v2 */
.demo-2 header,
.demo-3 header {
    font-size: 14px;
}
.header_v2 .navigation .main-menu >li >a,
.header_v2  .navigation .main-menu >li >span:not(.icon-toggle) {
    font-size: 15px;
    color: var(--title-color-2);
    font-weight: 700;
}

.demo-3 .header_v2 .navigation .main-menu >li >a:hover,
.demo-2 .header_v2 .navigation .main-menu >li >a:hover {
    color: var(--primary-color-2);
}

/* header.header_v2  ul.main-menu li >.sub-menu { */
    /* background: #fff; */
/* } */
header.header_v2 ul.main-menu li > .sub-menu {
	background: rgba(255,255,255,0.9);
	border-top: 1px solid #d2d2d2;
}

.demo-3 .header_v2 a.btn-book,
.demo-2 .header_v2 a.btn-book {
    padding: 13px 20px 12px;
    font-weight: 700;
    color: #fff;
    background: var(--primary-color-2);
}

.demo-3 .header_v2 a.btn-book:hover,
.demo-2 .header_v2 a.btn-book:hover {
    color: #fff;
    background: var(--primary-hover-color-2);
}

.header-right >div {
    display: inline-block;
    vertical-align: middle;
}

header.header_v2 .header-right a {
    color: #4a4a4a;
    font-weight: 700;
}

.demo-2 header .dropdown-language a {
    font-weight: normal;
}

.demo-3 header .header-right a:hover,
.demo-3 header .header-right a:hover,
.demo-2 header .sub-menu li a:hover,
.demo-2 header .sub-menu li a:hover {
    color: var(--primary-color-2);
}

.header_v2 .header-right .book-button {
    margin-left: 25px;
}

.header_v2 .language .dropdown-language {
    background: #fff;
}
.language .dropdown-language li:first-child {
    border-top: none;
}

/* Demo 3 */
/* #masthead.header-overlay { */
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* left: 0; */
    /* z-index: 999; */
    /* background: transparent; */
    /* background-color: rgba(0,0,0,.28); */
/* } */

/* #masthead.header-overlay { */
	/* position: fixed; */
	/* top: 0; */
	/* right: 0; */
	/* left: 0; */
	/* z-index: 999; */
	/* background: transparent; */
	/* background-color: rgba(0,0,0,.28); */
/* } */
#masthead.header-overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	/* background: #fff; */
	background-color: rgba(0, 0, 0, 0.6);
}

/* header.header_v2.header-overlay .header-right a, */
/* .header_v2.header-overlay .navigation .main-menu >li >a, */
/* .header_v2.header-overlay .navigation .main-menu >li >span:not(.icon-toggle) { */
    /* color: #fff; */
/* } */
/* header.header_v2.header-overlay .header-right a, .header_v2.header-overlay .navigation .main-menu > li > a, .header_v2.header-overlay .navigation .main-menu > li > span:not(.icon-toggle) { */
	/* color: #0f5d2e; */
/* } */
header.header_v2.header-overlay .header-right a, .header_v2.header-overlay .navigation .main-menu > li > a, .header_v2.header-overlay .navigation .main-menu > li > span:not(.icon-toggle) {
	color: #fff;
}

.header_v2.header-overlay .language .dropdown-language a {
    color: var(--body-font-color-2);
    font-weight: normal;
}

.header_v2.header-overlay .language .dropdown-language a:hover {
    color: var(--primary-color-2);
}

/* .header-overlay .navigation >.main-menu >li >span.icon-toggle { */
    /* color: #fff; */
/* } */
.header-overlay .navigation > .main-menu > li > span.icon-toggle {
	color: #fff;
}

header#masthead.affix.header-overlay  {
    z-index: 9999;
    position: fixed;
    width: 100%;
    transition: transform .3s .1s;
    background-color: rgba(0,0,0,.6);
    display: none;
}
header.header_v2 .header-right a:hover {
    color: #000;
}

header.header_v2 .header-right .dropdown .dropdown-toggle:hover span {
    color: #4a4a4a;
}

header.header_v2.header-overlay .header-right .dropdown .dropdown-toggle:hover span {
    color: #fff;
}

.dropdown .dropdown-toggle span {
    opacity: .6;
}

/* .page-title-wrapper { */
	/* background-image: url("../images/slides/w1.jpg"); */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* position: relative; */
	/* text-align: center; */
	/* color: #fff; */
	/* text-transform: uppercase; */
	/* height: 93vh; */
	/* background-position: center !important; */
/* } */
.page-title-wrapper {
	background-image: url("../images/slides/ce2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	height: 88vh;
	background-position: center center !important;
	background-size: cover;
}
/* .page-title-wrapper .content { */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0px; */
    /* text-align: center; */
    /* top: 55%; */
    /* -webkit-transform: translate(0,-50%); */
    /* -moz-transform: translate(0,-50%); */
    /* -ms-transform: translate(0,-50%); */
    /* -o-transform: translate(0,-50%); */
    /* display: inline-block; */
/* } */


.page-title-wrapper .heading_primary:after {
    content: '';
    position: relative;
    width: 60px;
    height: 2px;
    display: block;
    margin: 0 auto;
    bottom: -11px;
    background: var(--primary-color-1);
}

.page-title-wrapper .heading_primary {
	color: #fff;
	margin: 0 0 30px;
	text-transform: uppercase;
	position: relative;
	font-size: 40px;
	font-weight: 700;
}

.page-title-wrapper::before {
	content: '';
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	opacity: .22 !important;
	margin: 0 auto;
	background: #000;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    color: #9a9a9a;
}

.breadcrumbs li a {
    color: #9a9a9a;
}

.breadcrumbs li .separator {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

.breadcrumbs li a:hover {
    color: var(--primary-color-1);
}

header.header_v2 {
    /*padding: 12px 0;*/
}

header#masthead.header_v4 .width-logo {
    width: 110px;
    background-color:#ffffff;
}

.header_v4 .top-toolbar .toolbar-info {
    line-height: 30px;
}
.header_v4 .top-toolbar {
    color: #b3b3b3;
    background-color: #14141e;
    border-bottom: none;
    padding-left: 11px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.header_v4 .top-toolbar i {
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
}
.header_v4 .top-toolbar a {
    color: #b3b3b3;
    text-transform: uppercase;
}
.header_v4 .top-toolbar a:hover {
    color: #fff;
}
.header_v4 .top-toolbar .toolbar-info span.text {
    margin-left: 10px;
    color: var(--primary-color-4);
}
body.demo-4 .navigation .main-menu >li >a:hover {
    color:#fff !important;
    /* border-bottom: 2px solid #fff; */
}
.header_v4 .top-toolbar .toolbar-info li {
    margin-right: 10px;
    line-height: 1;
}
.header_v4 .top-toolbar ul.top-menu>li>a {
    padding: 4px 10px 3px;
    text-transform: uppercase;
}
.header_v4 .top-toolbar ul.top-menu>li,
.header_v4 .toolbar-right >div, .header_v4 .toolbar-right >ul{
    border-left: none;
}

.header_v4 .user-info li a {
    padding: 0 17px;
}
.header_v4 .user-info li:last-child a {
    padding-right: 2px;
}
.header_v4 .user-info li {
    border-left: 1px solid #414150;
}
.header_v4 .navigation ul.main-menu {
    padding-left: 80px;
    border-bottom: 2px solid #014423;
    border-top: 2px solid #014423;
}

.search-box .search-form .search-field {
    width: 100%;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border: none;
}
.search-box .search-form button:hover {
    background-color: var(--primary-hover-color-4);
}
.search-box .search-form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border: 0;
    color: #fff;
    outline: 0;
    font-size: 18px;
    box-shadow: none;
    cursor: pointer;
    background-color: var(--primary-color-4);
}
.search-box .search-form {
    top: 50%;
    max-width: 500px;
    margin: auto;
    position: relative;
    transform:  translate(0,-50%);
}
.search-box .form-search-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    margin: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: scale(.2,.2);
    -moz-transform: scale(.2,.2);
    -ms-transform: scale(.2,.2);
    -o-transform: scale(.2,.2);
    -webkit-transition: all .3s cubic-bezier(.4,0,1,1);
    -khtml-transition: all .3s cubic-bezier(.4,0,1,1);
    -moz-transition: all .3s cubic-bezier(.4,0,1,1);
    -ms-transition: all .3s cubic-bezier(.4,0,1,1);
    -o-transition: all .3s cubic-bezier(.4,0,1,1);
    transition: all .3s cubic-bezier(.4,0,1,1);
}
.search-box .toggle-form:hover {
    color: var(--primary-color-4);
}
.search-box .toggle-form {
    text-align: center;
    cursor: pointer;
    position: relative;
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    font-size: 22px;
    color: #313140;
}

body.active-search .background-toggle {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.active-search .search-box .form-search-wrapper {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
}
@media (min-width: 769px) {
    .header_v4 .navigation >.main-menu >li {
        padding: 14px 0;
    }
}
.header_v4 .sticky-logo img {
    height: 100%;
}
.header_v4 .navigation ul.main-menu >li.menu-item {
    margin: 0;
    text-align: center;
    min-width: 234px;
    padding-left: 70px;
    padding-right: 70px;
    border-right: 1px solid #f0f0f0;
}
.header_v4 .header-right {
    padding-right: 100px;
}
.header_v4 .navigation .main-menu >li >a,
.header_v4 .navigation .main-menu >li >span:not(.icon-toggle) {
    color: #313140;
    font-size: 15px;
}
header.header_v4 .sub-menu li a {
    font-size: 16px;
}
.ion-ios-search-strong:before {
    font-weight: 600;
}