.rooms-content .room-item {
    transition: all .5s;
}

.rooms-content .room-item:hover {
    box-shadow: 0 25px 40px -20px #85a2ce;
}
.rooms-content .room-item .room-summary {
    padding: 35px 35px 25px;
    background: #fff;
}
.rooms-content .room-item:hover img {
    transform: scale(1.1);
}
.rooms-content .room-media img {
    transition: all 1s;
}
.rooms-content .room-media {
    position: relative;
    overflow: hidden;
}
.room-item .room-media:hover .read-more {
    opacity: 1;
}
.rooms-content .room-media .read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    transition: none;
    color: #fff !important;
    background: var(--secondary-color-1);
    transform: translate(-50%,-50%);
}
.rooms-content .room-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
}
.rooms-content .room-price {
    text-transform: uppercase;
    font-size: 16px;
}

.rooms-content .room-description {
    margin-top: 20px;
}
.rooms-content .price {
    font-size: 17px;
    color: var(--primary-color-1);
}
.room-meta {
    padding-top: 20px;
    border-top: 1px solid #eee;
}
.comment-count {
    float: left;
    font-size: 13px;
    color: #999;
}
.comment-count:before {
    content: "\f11a";
    font-family: Ionicons;
    font-size: 16px;
    margin-right: 8px;
    float: left;
}
.room-meta .rating {
    float: right;
    font-size: 13px;
}
.room-meta .rating .star:before {
    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    font-size: 14px;
    color: #ffb606;
    letter-spacing: 0;
    margin-right: 10px;
}
.rooms-content .room {
    padding-bottom: 30px;
}
.rooms-content.style-02 .room-item {
    border: 2px solid #02020226;
}
}

.room-meta .room-price {
    float: left;
}
.rooms-content.style-02 .room-meta .rating .star:before {
    margin-right: 0;
    font-size: 15px;
}

.room-info li {
    display: inline-block;
    vertical-align: middle;
    color: #8a8a8a;
    font-size: 15px;
}
.room-info li .separator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ddd;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
.rooms-content.style-02 .room-meta {
    border: none;
    padding: 0;
}
.rooms-content.style-02 .line {
    content: '';
    background: #000;
    height: 2px;
    width: 40px;
    display: block;
    margin-top: 23px;
    margin-bottom: 20px;
}

.room-meta span.title-price {
    padding-right: 5px;
}
.room-meta .price span {
    color: #8a8a8a;
    font-size: 15px;
}
.room-meta .price span {
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    display: initial;
}
.room-meta .price span.price_value {
    color: var(--primary-color-1);
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    display: initial;
}
.room-meta .price span.unit {
    color: var(--primary-color-1);
}
.room-meta span.unit:before {
    content: '/';
    font-size: 10px;
    vertical-align: middle;
    padding-right: 5px;
}
.rooms-content .room-meta .price {
    float: left;
}

.room-single .title-share .title {
    font-size: 36px;
    float: left;
    margin-bottom: 0;
    line-height: 120%;
}

.room-single .title-share .social-share {
   float: right;
}
.room-single .title-share {
    padding: 30px 0 20px;
}
.room-single .social-share ul li a {
    margin-bottom: 0 !important;
}
.room-single .social-share ul li {
    margin-right: 0 !important;
    margin-left: 10px;
}
.room_price .price span {
    color: #8a8a8a;
    font-size: 15px;
}
.room_price .price span {
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    display: initial;
}
.room_price .price span.price_value {
    color: var(--primary-color-1);
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    display: initial;
}
.room_price .price span.unit {
    color: var(--primary-color-1);
}
.room_price span.unit:before {
    content: '/';
    font-size: 10px;
    vertical-align: middle;
    padding-right: 5px;
}
.room_price {
    font-size: 18px;
    color: var(--primary-color-1);
    font-weight: 700;
    text-transform: uppercase;
}
.room-single .description {
    margin-top: 30px;
    margin-bottom: 35px;
}

.title.style-01 {
    font-family: var(--body-font-family-1);
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 30px;
    font-size: 18px;
    color: var(--primary-color-1);
}
.title.style-01:before{
    content: '';
    position: relative;
    float: left;
    width: 60px;
    height: 2px;
    display: block;
    margin: 13px 10px 0 0;
    background: var(--primary-color-1);
}
.room_additinal li{
    padding: 15px 0;
    color: var(--title-color-1);
    border-bottom: 1px solid #eee;
}
.room_additinal {
    margin-bottom: 40px;
}
.room_additinal li:last-child {
    border-bottom: 0;
}
.room_additinal li i {
    margin-right: 20px;
    color: var(--primary-color-1);
}

.room_pricing .title {
    margin-bottom: 40px;
}
.room_pricing {
    margin-bottom: 40px;
}
table.room-pricing {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}
table.room-pricing th, table.room-pricing td {
    border: 1px solid var(--primary-color-1);
    padding: 0;
    width: 120px;
    text-align: center;
}
table.room-pricing tr th {
    line-height: 48px;
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 400;
}
table.room-pricing tr td {
    line-height: 67px;
}
.room_additinal ul li:first-child {
    padding-top: 0;
}
.room_additinal ul li:last-child {
    padding-bottom: 0;
}
.room_review .avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.room_review .content h4 {
    font-weight: 700;
    font-size: 14px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: var(--body-font-family-1);
}
.room_review .content {
    margin-top: -5px;
    width: calc(100% - 70px);
    padding-left: 25px;
    float: left;
}
.room_review .avatar{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
}
.rating-star:before {
    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
}
.room_review .rating-star {
    padding-left: 30px;
}

.form-review .title i {
    margin-right: 10px;
}
.form-review .title {
    margin-bottom: 20px;
    font-family: var(--body-font-family-1);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-color-1);
}
.form-review form p {
    margin-bottom: 5px;
}
.form-review textarea {
    margin-top: 10px;
}
.form-review {
    margin-top: 40px;
}
.rating-star.empty:hover:before {
    color: #ffb606;
}
.rating-star.empty:before {
    color: #ccc;
    letter-spacing: 1px;
}

.wd-book-room a.book-room:hover {
    background: var(--primary-hover-color-1);
}
.wd-book-room a.book-room {
    /*height: 55px; */
    line-height: 55px;
    /* padding: 0; */
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    /* margin-bottom: 20px; */
    display: block;
    color: #fff !important;
    background: var(--primary-color-1);
    border-radius: 20px;
    /* width: 180px; */
    margin: 10px;
}
.wd-check-room .title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--body-font-family-1);
    color: var(--primary-color-1);
}
.wd-check-room {
	padding: 27px 30px 80px;
	/* border: 1px solid #118acb; */
	margin: 28px;
	background: #f1f1f1;
}
.wd-check-room .title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--body-font-family-1);
    color: var(--primary-color-1);
}
#instamojo > img {
	max-width: 75px;
}
#review-modal {
	cursor: pointer;
	padding: 10px 10px;
	font-weight: 600;
}
form.wd-search-room .form-field {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
form.wd-search-room .form-field:after {
    position: absolute;
    content: '\f073';
    color: #ccc;
    font-family: FontAwesome;
    right: 10px;
    font-size: 12px;
    min-width: 15px;
    line-height: 40px;
    top: 0;
}
.wd-check-room select:focus {
    border-color: var(--primary-color-1);
}
.wd-check-room select {
    background: none;
    font-size: 14px;
    color: var(--body-font-color-1);
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    outline: 0;
}
.wd-check-room .room-submit {
    text-align: center;
    margin-top: 20px;
}
.wd-check-room input {
    font-size: 14px;
    color: #777;
    height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    /*background: transparent;*/
}

.hotel-booking-search.style-01:not(.layout-columns) {
    display: inline-block;
    width: 100%;
    padding: 0;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    max-width: 100%;
}
.hotel-booking-search:not(.layout-columns) .hb-form-table {
    width: 75%;
}
.hotel-booking-search .hb-form-table {
    background: #fff;
    float: left;
    margin: 0;
    position: relative;
}
.hotel-booking-search .hb-form-table .multidate {
    position: absolute;
    font-size: 0;
    height: 100%;
    width: 66.66%;
    border: 0;
    z-index: 2;
    background: 0 0;
    cursor: pointer;
    left: 0;
}
.hotel-booking-search .hb-form-table .hb-form-field {
    width: 33.33%;
    float: left;
    padding: 26px 40px;
    position: relative;
    margin: 0;
}
.hotel-booking-search .hb-form-table .hb-form-field .label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    margin-bottom: -5px;
}
.hb_input_field#guests {
    cursor: pointer;
}
.hb_input_field {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 1;
}
.hotel-booking-search .hb-form-table .hb-form-field .hb_input_field input.day {
    color: #118acb;
    width: 70px;
}
.hotel-booking-search.style-01 .hb_input_field input {
    width: 75px;
    height: auto;
    border: 0;
    border-radius: 0;
    line-height: 1;
    min-width: 0;
    background: 0 0;
    padding: 0 0 0 5px;
    font-size: 15px;
    color: #222;
    font-weight: 700;
    cursor: pointer;
    text-transform: capitalize;
}
.hotel-booking-search.style-01 .hb-form-table .hb-form-field .hb_input_field .getWidth,
.hotel-booking-search.style-01 .hb-form-table .hb-form-field .hb_input_field input.day {
    font-size: 44px;
    font-weight: 700;
    padding: 0;
}
.hotel-booking-search.style-01 .hb-form-table .hb-form-field .hb_input_field input {
    font-family: Playfair Display;
}

.hotel-booking-search .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 32px;
    background: #fff;
    z-index: 9;
    margin-top: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    transition: all .5s;
}
.hotel-booking-search .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list.active {
    opacity: 1;
    visibility: visible;
}

.hotel-booking-search .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list:before {
    content: '';
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 12px;
    height: 0;
    left: 50px;
    margin-left: -5px;
    margin-top: -10px;
    position: absolute;
    top: -2px;
    width: 0;
}
.hotel-booking-search.style-01 .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .number-icons {
    width: 40px;
    height: 40px;
    background: #ebebeb;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #aaa;
    display: inline-block;
    float: right;
    margin-left: 12px;
    cursor: pointer;
}

.hotel-booking-search.style-01 .daterangepicker.dropdown-menu {
    display: none;
    border: none;
    width: 672px;
    border-radius: 0;
    padding: 32px 24px;
    margin-top: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    transition: all .5s;
}
.daterangepicker:after, .daterangepicker:before {
    position: absolute;
    display: inline-block;
    content: '';
}
.daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
}
.daterangepicker.opensright:before {
    left: 9px;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu:after,
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu:before {
    content: '';
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 12px;
    height: 0;
    margin-left: -5px;
    margin-top: -10px;
    position: absolute;
    top: -2px;
    width: 0;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu:before {
    left: 50px;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu:after {
    left: 350px;
}
.daterangepicker {
    position: absolute;
    color: inherit;
    background-color: #fff;
    border-radius: 4px;
    width: 278px;
    padding: 4px;
    margin-top: 1px;
    top: 100px;
    left: 20px;
}
@media (min-width: 564px) {
    .daterangepicker.ltr .calendar.left .calendar-table, .daterangepicker.rtl .calendar.right .calendar-table {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .daterangepicker.ltr .calendar, .daterangepicker.ltr .ranges {
        float: left;
    }
    .daterangepicker.ltr {
        direction: ltr;
        text-align: left;
    }
    .daterangepicker.ltr .calendar.left .calendar-table, .daterangepicker.ltr .left .daterangepicker_input {
        padding-right: 12px;
    }
}

.daterangepicker.show-calendar .calendar {
    display: block;
}
@media (min-width: 730px) {
    .daterangepicker .calendar.left {
        clear: none!important;
    }
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar {
    width: 50%;
    padding: 0 16px;
    margin: 0;
    max-width: 312px;
}
.hotel-booking-search.style-01  .daterangepicker.dropdown-menu .daterangepicker_input {
    display: none;
}
.daterangepicker .daterangepicker_input {
    position: relative;
}
.daterangepicker .input-mini.active {
    border: 1px solid #08c;
    border-radius: 4px;
}
.daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px;
    padding: 0 6px 0 28px;
    width: 100%;
}
.daterangepicker .calendar-table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar .calendar-table {
    padding: 0;
}
.daterangepicker table {
    width: 100%;
    margin: 0;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar table, .hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tr {
    border: 0;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar table, .hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tr {
    border: 0;
}
.daterangepicker .calendar td, .daterangepicker .calendar th {
    white-space: nowrap;
    text-align: center;
    min-width: 32px;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar th {
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    min-width: 40px;
    font-weight: 400;
}
.hotel-booking-search.style-01 .calendar thead th {
    font-size: 12px;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar th.month {
    color: #118acb;
    font-size: 16px;
}
.hotel-booking-search.style-01s .daterangepicker.dropdown-menu .calendar th.month {
    font-weight: 400;
    font-size: 16px;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td.off {
    color: #999;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td {
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    border: 1px solid #ebebeb;
    width: 40px;
    height: 40px;
    color: #333;
}
.daterangepicker option.disabled, .daterangepicker td.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td.active, .hotel-booking-search.layout-special .daterangepicker.dropdown-menu .calendar tbody td:hover {
    color: #fff;
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td:hover, .hotel-booking-search.layout-special .daterangepicker.dropdown-menu .calendar tbody td.active, .hotel-booking-search.layout-special .daterangepicker.dropdown-menu .calendar tbody td.active.in-range {
    background-color: var(--primary-color-1) !important;
    border-color: var(--primary-color-1) !important;
    color: #fff;
}

.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td.in-range {
    background-color: #81ccf4;
    border-color: #81ccf4;
}
.hotel-booking-search.style-01 .hb-form-table .hb-form-field.hb-form-number .hb-form-field-list .number-icons:hover {
    color: #fff;
    background: var(--primary-color-1);
    transition: all .5s;
}

.hotel-booking-search.style-01 .hb-submit {
    background-color: #0d6a9c;
    transition: all .5s;
}
.hotel-booking-search.style-01 .hb-submit button:hover {
    background-color: #22a6ed;
}
.hotel-booking-search.style-01:not(.layout-columns) .hb-submit {
    width: 25%;
    float: left;
    padding: 24px 40px;
}
.hotel-booking-search.style-01 .hb-submit .contact-info {
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: rgba(255,255,255,.45);
}
.hotel-booking-search.style-01 .hb-submit button {
    background-color: #118acb;
    color: #fff;
}
.hotel-booking-search.style-01 .hb-submit button {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 48px;
    padding: 0;
    text-align: center;
    border: 0;
    height: auto;
    border-radius: 0;
    min-width: 0;
    cursor: pointer;
}
.hotel-booking-search.style-01:not(.layout-columns) .hb-form-table .hb-form-field.hb-form-check-in:after {
    content: '';
    position: absolute;
    right: 25px;
    bottom: 38px;
    width: 50px;
    height: 17px;
    background: url('../images/icons/icon-next.png') no-repeat;
}
.hotel-booking-search.style-01:not(.layout-columns) .hb-form-table .hb-form-field.hb-form-number:after {
    content: "\f123";
    font-family: Ionicons;
    font-size: 14px;
    position: absolute;
    bottom: 28px;
    right: 40px;
    color: #aaa;
    width: 40px;
    z-index: 0;
    text-align: center;
}
.hotel-booking-search.style-01:not(.layout-columns) .hb-form-table .hb-form-field.hb-form-number:before {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
    width: 1px;
    background: #ebebeb;
}
.hotel-booking-search.style-01 .hb-form-table .hb-form-field.hb-form-check-out:before {
    content: "\f123";
    font-family: Ionicons;
    font-size: 14px;
    position: absolute;
    bottom: 28px;
    right: 40px;
    color: #aaa;
}
.hotel-booking-search.style-01 .name {
    color: var(--primary-color-1);
}
.hotel-booking-search.style-01 select {
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    height: 40px;
    line-height: 40px;
    color: var(--primary-color-1);
}
.hotel-booking-search.style-01 select::-ms-expand {
    display: none;
}
.hotel-booking-search.style-01 {
    position: relative;
    z-index: 90;
    margin-top: -70px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 4px !important;
    right: 0 !important;
    transition: none;
    border: none !important;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-datepicker-days-cell-over .ui-state-default,
#ui-datepicker-div .ui-state-default:hover,
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
    background: var(--primary-color-1);
    color: #fff;
    border-color: var(--primary-color-1);
}
#ui-datepicker-div .ui-state-highlight,
#ui-datepicker-div .ui-widget-content .ui-state-highlight,
#ui-datepicker-div .ui-widget-header .ui-state-highlight {
    background: var(--primary-hover-color-1);
    color: #fff;
    border-color: var(--primary-hover-color-1);
}

.demo-2 .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-datepicker-days-cell-over .ui-state-default,
.demo-2 #ui-datepicker-div .ui-state-default:hover,
.demo-2 .ui-state-active, .demo-2 .ui-widget-content .ui-state-active,
.demo-2 .ui-widget-header .ui-state-active, .demo-2 a.ui-button:active,
.demo-2 .ui-button:active, .ui-button.ui-state-active:hover {
    background: var(--primary-color-2);
    color: #fff;
    border-color: var(--primary-color-2);
}
.demo-2 #ui-datepicker-div .ui-state-highlight,
.demo-2 #ui-datepicker-div .ui-widget-content .ui-state-highlight,
.demo-2 #ui-datepicker-div .ui-widget-header .ui-state-highlight {
    background: var(--primary-hover-color-2);
    color: #fff;
    border-color: var(--primary-hover-color-2);
}

.demo-3 .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-datepicker-days-cell-over .ui-state-default,
.demo-3 #ui-datepicker-div .ui-state-default:hover,
.demo-3 .ui-state-active, .demo-3 .ui-widget-content .ui-state-active,
.demo-3 .ui-widget-header .ui-state-active,
.demo-3 a.ui-button:active,
.demo-3 .ui-button:active, .ui-button.ui-state-active:hover {
    background: var(--primary-color-2);
    color: #fff;
    border-color: var(--primary-color-2);
}
.demo-3 #ui-datepicker-div .ui-state-highlight,
.demo-3 #ui-datepicker-div .ui-widget-content .ui-state-highlight,
.demo-3 #ui-datepicker-div .ui-widget-header .ui-state-highlight {
    background: var(--primary-hover-color-2);
    color: #fff;
    border-color: var(--primary-hover-color-2);
}

.hotel-booking-search.style-02 form .form-table >li.select-field {
    padding: 0 15px;
}
.hotel-booking-search.style-02 form .form-table >li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin-bottom: 0;
    float: left;
    border-right: 1px solid #eee;
}
.hotel-booking-search.style-02 .room-submit {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin-left: -5px;
}
.hotel-booking-search.style-02 {
    font-size: 14px;
    text-align: center;
    box-shadow: none;
    width: auto;
}
.hotel-booking-search.style-02 .room-submit button:hover {
    background: var(--primary-hover-color-2);
}
.hotel-booking-search.style-02 .room-submit button {
    min-width: 180px;
    font-size: 14px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    height: 60px;
    border: 0;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    background: var(--primary-color-2);
}
.hotel-booking-search.style-02 form .form-table {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
}
.hotel-booking-search.style-02 select option {
    line-height: 20px;
}
.hotel-booking-search.style-02 input,
.hotel-booking-search.style-02 select {
    max-width: 155px;
    height: 60px;
    line-height: 60px;
    border: none !important;
    color: var(--body-font-color-1);
    position: relative;
    z-index: 2;
    font-size: 14px;
    background: transparent;
}
body.home form.wd-search-room .form-field:after {
    line-height: 60px;
    color: var(--primary-color-2);
}
.sc-hb-rooms-search.style-02 {
    text-align: center;
    position: relative;
    z-index: 999;
}
select {
    outline: none;
}
#ui-datepicker-div {
    z-index: 9999 !important;
}

.hotel-booking-search.style-01.layout-columns .daterangepicker.dropdown-menu {
   left: -94px !important;
}
.hotel-booking-search.layout-columns .hb-form-table .hb-form-field {
    padding: 0 7.5px;
    text-align: center;
}
.hotel-booking-search.layout-columns .hb-form-table .hb-form-field .hb_input_field{
    position: relative;
    display: block;
    padding: 40px 20px 60px;
    border: 1px solid #ddd;
}
.hotel-booking-search.layout-columns .hb-form-table .hb-form-field .label{
    color: #8a8a8a;
    font-size: 15px;
    font-family: var(--body-font-family-2);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
    z-index: 22;
}
.hotel-booking-search.style-01.layout-columns .hb-form-table .hb-form-field.hb-form-check-in:before,
.hotel-booking-search.style-01.layout-columns .hb-form-table .hb-form-field.hb-form-check-out:before {
    content: "";
    font-family: FontAwesome;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: var(--primary-color-2);
    bottom: 28px;
    position: absolute;
}
.hotel-booking-search.style-01.layout-columns  .hb_input_field input.day {
    color: #4a4a4a;
    font-size: 72px !important;
    font-weight: 700;
    text-transform: uppercase;
}
.hotel-booking-search.style-01.layout-columns  .hb_input_field input.month {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.hotel-booking-search.style-01.layout-columns  .hb_input_field input {
    padding-left: 0 !important;
    font-family: var(--body-font-family-2) !important;
    text-align: center;
    width: 100% !important;
}
.hotel-booking-search.style-01.layout-columns .goDown i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 28px;
}
.hotel-booking-search.style-01.layout-columns .goDown {
    width: 100%;
    height: 6px;
    display: block;
    cursor: pointer;
    color: var(--primary-color-2);
}
.hotel-booking-search.style-01.layout-columns .goUp {
    width: 100%;
    height: 30px;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--primary-color-2);
}
.hotel-booking-search.style-01.layout-columns select {
    height: 72px;
    color: #4a4a4a;
    font-weight: 700;
    line-height: 72px;
    font-size: 72px;
    font-family: var(--body-font-family-2);
}
.hotel-booking-search.style-01.layout-columns .hb-submit div.contact-info {
    display: inline-block;
    vertical-align: middle;
}
.hotel-booking-search.style-01.layout-columns .hb-submit button:hover {
    background: var(--primary-hover-color-2);
}
.hotel-booking-search.style-01.layout-columns .hb-submit button {
    width: auto;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    padding: 0 60px;
    background: var(--primary-color-2);
}
.hotel-booking-search.style-01.layout-columns .daterangepicker.dropdown-menu:after,
.hotel-booking-search.style-01.layout-columns .daterangepicker.dropdown-menu:before {
    display: none;
}
.hotel-booking-search.style-01.layout-columns .hb-submit {
    margin-top: 15px;
    background: none;
    text-align: right;
}
.hotel-booking-search.layout-columns .hb-form-table {
    margin: 0 -7.5px;
    float: none;
}
.hotel-booking-search.style-01.layout-columns .hb-submit div.contact-info p {
    text-align: right;
    text-transform: none;
    margin-bottom: 10px;
}

.hotel-booking-search.style-01 .calendar thead th.next,
.hotel-booking-search.style-01 .calendar thead th.prev {
    cursor: pointer;
}

.hotel-booking-search.style-01 .calendar thead th.next:hover,
.hotel-booking-search.style-01 .calendar thead th.prev:hover {
    color: #111;
}
.hotel-booking-search.style-01.layout-columns .hb-submit div.contact-info {
    padding-top: 22px;
    color: #4a4a4a;
    font-weight: 500;
    font-size: 15px;
    padding-right: 30px;
}
.demo-3 .hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar th.month {
    color: var(--primary-color-2);
}
.hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td.active {
    background: var(--primary-color-1);
    border-color: var(--primary-color-1);
}
.demo-3 .hotel-booking-search.style-01.layout-columns .daterangepicker.dropdown-menu .calendar tbody td:hover,
.demo-3 .hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td.active {
    background: var(--primary-color-2) !important;
    border-color: var(--primary-color-2) !important;
}
.demo-3 .hotel-booking-search.style-01 .daterangepicker.dropdown-menu .calendar tbody td.in-range {
    background-color: #e7cc65;
    border-color: #e7cc65;
}

.rooms-content-search .room .room-summary .info li span {
    color: var(--body-font-color-1);
    min-width: 100px;
    display: inline-block;
}
.rooms-content-search .room .room-summary .info li {
    padding: 3px 0;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-color-1);
}
.rooms-content-search .room .room-summary .book-room a:hover {
    background: var(--primary-hover-color-1);
}
.rooms-content-search .room .room-summary .book-room a {
    color: #fff;
    background: var(--primary-color-1);
    text-transform: uppercase;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    display: inline-block;
    padding: 0 30px;
}
.rooms-content-search .room .room-summary .room-title{
    margin-bottom: 10px;
    font-size: 20px;
}
.rooms-content-search .room .room-summary {
    width: calc(100% - 370px);
    float: left;
    padding-bottom: 30px;
    padding-left: 30px;
}
.rooms-content-search .room {
    padding-bottom: 30px;
}
.rooms-content-search .room .description {
    margin: 15px 0;
}
.rooms-content-search .room .room-media a {
    position: relative;
    overflow: hidden;
    display: block;
}
.rooms-content-search .room .room-media a:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fff;
    font-size: 20px;
    z-index: 10;
    opacity: 0;
    transform: rotateY(0);
    transition: all .4s ease-in-out;
}
.rooms-content-search .room-item:hover .room-media a:after  {
    opacity: 1;
    transform: rotateY(180deg);
}
.rooms-content-search .room-item:hover .room-media a:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: '';
    bottom: 0;
    background-color: var(--primary-color-1);
    opacity: .4;
    z-index: 1;
    transition: all .5s;
}
.rooms-content-search .room-media {
    width: 370px;
    float: left;
    overflow: hidden;
}
.rooms-content-search .room-media .hidden {
    overflow: hidden;
    display: none;
    visibility: hidden;
}

.form-popup-room.active {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    visibility: visible;
}
.form-popup-room {
    /*position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,.8);
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-transform: scale(.2,.2);
    -moz-transform: scale(.2,.2);
    -ms-transform: scale(.2,.2);
    -o-transform: scale(.2,.2);
    -webkit-transition: all .3s cubic-bezier(.4,0,1,1);
    -khtml-transition: all .3s cubic-bezier(.4,0,1,1);
    -moz-transition: all .3s cubic-bezier(.4,0,1,1);
    -ms-transition: all .3s cubic-bezier(.4,0,1,1);
    -o-transition: all .3s cubic-bezier(.4,0,1,1);
    transition: all .3s cubic-bezier(.4,0,1,1);*/
    width: 100%;
    /*padding: 50px;*/
    /*background: url("https://media.gadventures.com/media-server/dynamic/blogs/posts/seangraham/2015/04/mtblancsm.jpg");*/
}

body.book-active{
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg=='), progress !important;
}
.popup-container {
    background: #fff;
    position: relative;
    /*padding: 50px;*/
    overflow: hidden;
    max-width: 900px;
    margin: auto;
    top: 0;
    cursor: default;
    margin-top:40px;
    top:0px !important;
}

.form-popup-room .room-head .room-title {

}
.form-popup-room .room-head .description {
    margin: 13px 0;
}
.form-popup-room .room-head {
    text-align: center;
    /*margin-bottom: 40px;*/
}
.search-room-popup .form-table >li .submit:hover {
    background: var(--primary-hover-color-1);
}
.search-room-popup .form-table >li input {
    font-size: 15px;
}
.search-room-popup .form-table >li .submit {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: auto;
    padding: 0 40px;
    text-align: center;
    background: var(--primary-color-1);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.search-room-popup .form-table >li.room-submit{
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}
.search-room-popup .form-table >li{
    float: left;
    padding: 0 15px;
    width: 50%;
    margin-bottom: 15px;
}
body.book-active #ui-datepicker-div {
    z-index: 99999999 !important;
    cursor: pointer;
}
.close-popup:hover {
    background: var(--primary-hover-color-1);
}
.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    font-size: 15px;
    height: 30px;
    background: var(--primary-color-1);
    color: #fff !important;
}