/* Blog */

.widget-area .wd .wd-title {
    color: var(--primary-color-1);
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--body-font-family-1);
}
.widget-area .wd {
	/* margin-bottom: 30px; */
	margin: 40px 0;
	background: #171717;
	padding: 30px 10px;
}
.widget-area .wd1 {
	/* margin-bottom: 30px; */
	margin: 40px 0;
	background: #f1f1f1;
	padding: 30px 10px;
}
.widget-area #blog {
	/* margin-bottom: 30px; */
	margin: 40px 0;
	background: #f1f1f1;
	padding: 0px 10px;
}
.image-box ul > li {
	color: #fff;
	font-size: 15px;
	padding: 13px 0px;
}
.image-box > h1 {
	padding: 10px 1px;
}
.image-box {
	line-height: 1;
}
.widget-area .wd-search button:hover {
    color: var(--primary-color-1);
}
.widget-area .wd-search button {
	position: absolute;
	top: 25px;
	right: 5px;
	width: 40px;
	background: none;
	font-size: 18px;
	color: #cccccc;
	cursor: pointer;
}
.widget-area .wd-search form {
    position: relative;
}
.widget-area .wd-search input[type="search"] {
    width: 100%;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    border-radius: 30px;
    border: solid 1px #eeeeee;
}
.wd-categories li a:hover,
.wd-tags li a:hover,
.wd-recent-post .post-title a:hover {
    color: var(--primary-color-1);
}
.wd-categories li,
.wd-tags li {
    position: relative;
    margin: 0;
    padding: 8px 0 8px 20px;
}
.wd-categories li:before,
.wd-tags li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #eee;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 18px;
}
.wd-tags li a,
.wd-categories li a {
    color: var(--body-font-color-1);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.wd-categories,
.wd-tags,
.wd-recent-post{
    padding: 30px;
    border: 1px solid #eee;
}
.wd-recent-post .post-title a {
    color: var(--body-font-color-1);
}
.wd-recent-post .post-title {
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--body-font-family-1);
}
.wd-recent-post .post .post-meta {
    padding-left: 12px;
}
.wd-recent-post .post {
    padding-top: 15px;
}
.wd-recent-post .post-title {
    margin-bottom: 5px;
}